*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contacts{
    display: flex;
    background:rgb(153 153 153);
    padding-left: 20px;
    color:white;
}
.main{
   width: 300px;
    min-height: 100vh;
    background: rgb(54 85 104);
   
}
.location{
display: flex;
align-items: center;
justify-content: center;


font-size: 35px;
    margin-left: 40px;
   
    background: red;
    
    writing-mode: vertical-rl;
   
    z-index: 1111;
  transform: rotateZ(180deg);
background: rgb(78 118 137);
}
